:root {
    font-size: 60%;
    --color-background: #F0F0F7; /*Background da pagina lateral*/
    --color-primary-lighter: #f1730c;/*Cor do botões*/
    --color-primary-light:#472101;/*Sobreamento do botões*/
    --color-primary: #363636;/*Background da pagina inteira*/
    --color-primary-dark: #56555a; /*Cor da foto perfil*/
    --color-primary-darker: #666270;
    --color-secundary:#f1730c; /*Cor do botões*/
    --color-secundary-dark:#472101; /*Sobreamento de botões*/
    --color-title-in-primary: #f5f3f1;
    --color-text-in-primary: #f3f2f1; /*Letra: Sua plataforma de estudos*/
    --color-text-title:  #473838; /*Letra: Fazer Login*/
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea, select {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width) {
    :root {
        font-size: 62.5%;
    }
}
